body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


/* Navbar */
.navbar {
    background: linear-gradient(to right, rgba(27, 94, 31, 0.15), rgba(235, 238, 235, 0.15));
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

 
@media (max-width: 610px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
      padding: 15px 0px 10px;
    }

    nav.navbar {
        padding-top: 3px;
    }
    .nav-links {
        flex-direction: inline;
        width: 100%;
        margin: 0;
        padding:0;
    }
    .nav-links li {
      margin:auto;
    }
  
   
    .nav-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        font-size: small;
    }

    .logo  {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: small;
        padding: 7px;
    }

    }






.navbar .logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 auto;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #a8e6a3;
}

.nav-buttons .btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-buttons .btn:hover {
    background-color: #388e3c;
    transform: scale(1.05);
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    background: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

#resultado {
    margin-top: 10px;
    font-weight: bold;
}
